# Entornos virtuales
.venv
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Node.js
node_modules/
theme/static_src/node_modules/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp